body{
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}
.form-container{
    width:60%;
    margin: 30px auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}
h1{
    text-align: center;
}
hr{
    margin-bottom: 25px;
}
label{
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.mobile{
    display:flex;
    gap: 10px;
}
.mobile select{
    width: 100px;
}
.mobile input{
    flex: 1;
}
.events,
.gender{
    margin-top: 8px;
}
.events input,
.gender input,
.terms input{
    width: auto;
}
.terms{
    margin-top: 20px;
}
.button{
    padding: 1opx 20px;
}
button{
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}